.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 20em;
}

.container input {
  margin: 5px;
}
/*# sourceMappingURL=my-component.component.css.map */